<%- include('header') %>
    <h3>Editar categoria: <a href="/admin/categorias">Categorias</a></h3>
    <form method="POST">
        <div>
            <label for="categoria">Categoria</label>
            <input id="categoria" name="categoria" type="text" value="<%= categoria.categoria %>">
        </div>
        <br>
        <button>Salvar categoria</button>
    </form>
<%- include('footer') %>