.no-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  justify-content: center;
  width: 100%;
  padding: 40px;
}

.no-items__content {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.no-items__emoji {
  font-size: 5rem;
}
