#FILL THE DATA TO USE WITH KNEX AND RENAME THIS FILE TO .env
DB_CLIENT=
DB_SERVER=
DB_USER=
DB_PASS=
DB_DATABASE=

#CONTROL WHEN KNEX SHOW THE SCRIPT GENERATED
KNEX_DEBUG=false

#AUTH
ADMIN_EMAIL=
ADMIN_PASS=


#SESSION
SESSION_NAME=
SESSION_SECRET=