<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="/estilos.css" rel="stylesheet" />

    <title>Convert My Money</title>
  </head>
  <body class="text-center">
    <div class="container d-flex flex-column h-100 w-100 mx-auto p-4">
      <header class="mb-auto">
        <h1 class="mb-5">
          <a href="/">
            <img src="/images/logo.png" alt="Convert my money" />
          </a>
        </h1>
      </header>

